
body {
  margins: auto ;
  width : 80%;
}
header, section, article, nav, aside,
footer, div {
  font-family: sans serif;
  border: 1px dotted #Brown;
  padding: 10px;
  margin: 10px
}

#SiteNavigation {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: White;
    display: inline-block;
}

li {
    display:inline;
}
/*
li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: #111;
} */
